language: cpp
sudo: true
dist: xenial
matrix:
  include:
  - os: osx
    osx_image: xcode12.2
    env:
    - MATRIX_EVAL="CC=clang && CXX=clang++"
  - os: linux
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - g++-6
        - cmake
    env:
    - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"
  - os: linux
    arch: ppc64le
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - g++-6
        - cmake
    env:
    - MATRIX_EVAL="CC=gcc-6 && CXX=g++-6"
  - os: linux
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - g++-4.9
        - cmake
    env:
    - MATRIX_EVAL="CC=gcc-4.9 && CXX=g++-4.9"
  - os: linux
    addons:
      apt:
        sources:
        - ubuntu-toolchain-r-test
        packages:
        - g++-4.8
        - cmake
    env:
    - MATRIX_EVAL="CC=gcc-4.8 && CXX=g++-4.8"


before_install:
  - eval "${MATRIX_EVAL}"
  - ./ci/setup_${TRAVIS_OS_NAME}_environment.sh
script:
  - mkdir -p build
  - cd build
  - cmake -DCMAKE_BUILD_TYPE=Debug -DBUILD_TESTING=ON ..
  - make
  - make test
  - cd ..
  - bazel build //...
  - bazel test //...
